{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'neighborhood/css/index.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'neighborhood/images/community.png' %}"
      type="image/x-icon"
    />
    <title>Home</title>
  </head>
  <body>
    <main>
      {% if messages %}
      <!--  -->
      {% for message in messages %}
      <div id="system-messages">
        <p class="close-messages">&times</p>
        <div class="message">
          <p>{{message}}</p>
        </div>
      </div>
      {% endfor %}
      <!--  -->
      {% endif %}
      <div id="post-form">
        <p class="close-post">&times</p>
        <div class="form">
          <h3>Add Hood</h3>
          <form
            action="{% url 'neighborhood-create-post' %}"
            method="post"
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <!--  -->
            {{post_form}}
            <!--  -->
            <input type="submit" value="Create" />
          </form>
        </div>
      </div>
      <header>
        <div class="left">
          <div class="logo">
            <a href="{% url 'neighborhood-home' %}">
              <h1>Hood<span>Watch</span></h1></a
            >
          </div>
          <div class="search">
            <form action="">
              {% csrf_token %}
              <input type="text" placeholder="search business" />
              <input type="submit" value="Search" />
            </form>
          </div>
          <div class="links">
            <ul>
              <li class="add-post">Add Post</li>
            </ul>
          </div>
        </div>
        <div class="right">
          <div class="info">
            {% if current_user.first_name and current_user.last_name %}
            <p class="normal">
              {{current_user.first_name}} {{current_user.last_name}}
            </p>
            {% else %}
            <p class="normal">{{current_user.username}}</p>
            {% endif %}
            <p class="hover">Edit Profile</p>
            <a href="{% url 'users-signout' %}">Sign Out</a>
          </div>
          <div class="image">
            <img
              class="toggle"
              src="{{current_user.profile.image.url}}"
              alt=""
            />
          </div>
        </div>
        <div id="user-edit-form">
          <p class="close-user-edit">&times</p>
          <div class="form">
            <h3>Update your Profile</h3>
            <form
              action="{% url 'users-update-user' %}"
              method="post"
              enctype="multipart/form-data"
            >
              {% csrf_token %}
              <!--  -->
              {{u_form}}
              <!--  -->
              {{p_form}}
              <!--  -->
              <input type="submit" value="Update" />
            </form>
          </div>
        </div>
      </header>

      <div class="content">
        <div class="left">
          <div class="hood">
            <h3>neighborhood Info :</h3>
            {% if hood %}
            <div class="info">
              <p><span>Name : </span>&nbsp; {{hood.hood_name}}</p>

              <p><span>Admin : </span>&nbsp;{{hood.admin}}</p>

              <p><span>Occupant Count : </span>&nbsp; {{hood.occupants}}</p>
            </div>
            {% else %}
            <div class="info">
              <p>You are not a part of any neighborhood . . .</p>
            </div>
            {% endif %}

            <div class="cta">
              <span class="join-hood">Join a Hood</span>
              <span class="add-hood">Add a Hood</span>
            </div>
            <div id="join-hood-form">
              <p class="close-join-hood">&times</p>
              <div class="form">
                <h3>Pick a Hood</h3>
                <form action="{% url 'neighborhood-join-hood' %}" method="post">
                  {% csrf_token %}
                  <select name="hood-pick" id="hood-ick">
                    <option value="none" selected>None</option>
                  </select>
                  <input type="submit" value="Join" />
                </form>
              </div>
            </div>
            <div id="hood-form">
              <p class="close-hood">&times</p>
              <div class="form">
                <h3>Add Hood</h3>
                <form
                  action="{% url 'neighborhood-create-hood' %}"
                  method="post"
                >
                  {% csrf_token %}
                  <!--  -->
                  {{h_form}}
                  <!--  -->
                  <input type="submit" value="Create" />
                </form>
              </div>
            </div>
          </div>
          <div class="businesses">
            <h3>
              Businesses :
              <!--  -->
              {% if hood %}
              <span class="add-business">&plus; Add Business</span>
              {% endif %}
            </h3>
            <div class="all-businesses">
              {% if businesses %}
              <!--  -->
              {% for business in businesses %}
              <div class="business-item">
                <h3>Business Name</h3>
                <p>Owner: Owner's Name</p>
                <p>Email: Contact Email</p>
              </div>
              {% endfor %}
              <!--  -->
              {% elif hood %}
              <p>There are no businesses in this hood yet</p>
              {% else %}
              <p>Join a hood to view the businesses available</p>
              {% endif %}

              <div id="business-form">
                <p class="close-business">&times</p>
                <div class="form">
                  <h3>Add Business</h3>
                  <form
                    action="{% url 'neighborhood-create-business' %}"
                    method="post"
                  >
                    {% csrf_token %}
                    <!--  -->
                    {{b_form}}
                    <!--  -->
                    <input type="submit" value="Create" />
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="right">
          <div class="posts">
            <h3>Posts :</h3>
            <div class="all-posts">
              {% if posts %}{% else %}{% endif %}
              <!-- test post -->
              <div class="post">
                <div class="image">
                  <img
                    src="{% static 'neighborhood/images/neighborhood.jpg' %}"
                    alt="post title"
                  />
                </div>
                <div class="excerpt">
                  <a href=""
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptate officiis tempora quae velit culpa aspernatur earum
                    quidem? Laborum, fugiat aliquam?</a
                  >
                </div>
              </div>

              <!-- test post -->
              <div class="post">
                <div class="image">
                  <img
                    src="{% static 'neighborhood/images/neighborhood.jpg' %}"
                    alt="post title"
                  />
                </div>
                <div class="excerpt">
                  <a href=""
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptate officiis tempora quae velit culpa aspernatur earum
                    quidem? Laborum, fugiat aliquam?</a
                  >
                </div>
              </div>

              <!-- test post -->
              <div class="post">
                <div class="image">
                  <img
                    src="{% static 'neighborhood/images/neighborhood.jpg' %}"
                    alt="post title"
                  />
                </div>
                <div class="excerpt">
                  <a href=""
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptate officiis tempora quae velit culpa aspernatur earum
                    quidem? Laborum, fugiat aliquam?</a
                  >
                </div>
              </div>

              <!-- test post -->
              <div class="post">
                <div class="image">
                  <img
                    src="{% static 'neighborhood/images/neighborhood.jpg' %}"
                    alt="post title"
                  />
                </div>
                <div class="excerpt">
                  <a href=""
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptate officiis tempora quae velit culpa aspernatur earum
                    quidem? Laborum, fugiat aliquam?</a
                  >
                </div>
              </div>

              <!-- test post -->
              <div class="post">
                <div class="image">
                  <img
                    src="{% static 'neighborhood/images/neighborhood.jpg' %}"
                    alt="post title"
                  />
                </div>
                <div class="excerpt">
                  <a href=""
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptate officiis tempora quae velit culpa aspernatur earum
                    quidem? Laborum, fugiat aliquam?</a
                  >
                </div>
              </div>

              <!-- test post -->
              <div class="post">
                <div class="image">
                  <img
                    src="{% static 'neighborhood/images/neighborhood.jpg' %}"
                    alt="post title"
                  />
                </div>
                <div class="excerpt">
                  <a href=""
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptate officiis tempora quae velit culpa aspernatur earum
                    quidem? Laborum, fugiat aliquam?</a
                  >
                </div>
              </div>

              <!-- test post -->
              <div class="post">
                <div class="image">
                  <img
                    src="{% static 'neighborhood/images/neighborhood.jpg' %}"
                    alt="post title"
                  />
                </div>
                <div class="excerpt">
                  <a href=""
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptate officiis tempora quae velit culpa aspernatur earum
                    quidem? Laborum, fugiat aliquam?</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="{% static 'neighborhood/js/index.js' %}"></script>
  </body>
</html>
