{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'neighborhood/css/index.css' %}" />
    <link
      rel="shortcut icon"
      href="{% static 'neighborhood/images/community.png' %}"
      type="image/x-icon"
    />
    <title>Home</title>
  </head>
  <body>
    <main>
      <header>
        <div class="left">
          <div class="logo">
            <a href="{% url 'neighborhood-home' %}">
              <h1>Hood<span>Watch</span></h1></a
            >
          </div>
          <div class="links">
            <ul>
              <li><a href="">Add Post</a></li>
            </ul>
          </div>
        </div>
        <div class="right">
          <div class="info">
            <p class="normal">Username</p>
            <p class="hover">Edit Profile</p>
            <a href="{% url 'users-signout' %}">Sign Out</a>
          </div>
          <div class="image">
            <img
              class="toggle"
              src="{% static 'neighborhood/images/sam.jpeg' %}"
              alt=""
            />
          </div>
        </div>
      </header>
      <div class="content">
        <div class="left">
          <div class="hood">
            <h3>neighborhood Info :</h3>
            <div class="info">
              <p><span>Name : </span>&nbsp;Neighborhood Name</p>

              <p><span>Admin : </span>&nbsp;Admin Name</p>

              <p><span>Occupant Count : </span>&nbsp;Number of occupants</p>
            </div>
            <div class="cta">
              <a href="">Switch Hood</a>
              <a href="">Add Hood</a>
            </div>
          </div>
          <div class="businesses">
            <h3>Businesses :</h3>
            <div class="all-businesses">
              <span>Business 1</span>
              <span>Business 2</span>
              <span>Business 3</span>
              <span>Business 4</span>
              <span>Business 5</span>
              <span>Business 6</span>
              <span>Business 7</span>
              <span>Business 8</span>
              <span>Business 9</span>
              <span>Business 10</span>
              <span>Business 11</span>
              <span>Business 12</span>
              <span>Business 13</span>
              <span>Business 14</span>
              <span>Business 15</span>
              <span class="add-business">Add Business</span>
            </div>
          </div>
        </div>

        <div class="right">
          <div class="posts">
            <h3>Posts :</h3>
            <div class="all-posts">
              <!-- test post -->
              <div class="post">
                <div class="image">
                  <img
                    src="{% static 'neighborhood/images/neighborhood.jpg' %}"
                    alt="post title"
                  />
                </div>
                <div class="excerpt">
                  <a href=""
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptate officiis tempora quae velit culpa aspernatur earum
                    quidem? Laborum, fugiat aliquam?</a
                  >
                </div>
              </div>

              <!-- test post -->
              <div class="post">
                <div class="image">
                  <img
                    src="{% static 'neighborhood/images/neighborhood.jpg' %}"
                    alt="post title"
                  />
                </div>
                <div class="excerpt">
                  <a href=""
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptate officiis tempora quae velit culpa aspernatur earum
                    quidem? Laborum, fugiat aliquam?</a
                  >
                </div>
              </div>

              <!-- test post -->
              <div class="post">
                <div class="image">
                  <img
                    src="{% static 'neighborhood/images/neighborhood.jpg' %}"
                    alt="post title"
                  />
                </div>
                <div class="excerpt">
                  <a href=""
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptate officiis tempora quae velit culpa aspernatur earum
                    quidem? Laborum, fugiat aliquam?</a
                  >
                </div>
              </div>

              <!-- test post -->
              <div class="post">
                <div class="image">
                  <img
                    src="{% static 'neighborhood/images/neighborhood.jpg' %}"
                    alt="post title"
                  />
                </div>
                <div class="excerpt">
                  <a href=""
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptate officiis tempora quae velit culpa aspernatur earum
                    quidem? Laborum, fugiat aliquam?</a
                  >
                </div>
              </div>

              <!-- test post -->
              <div class="post">
                <div class="image">
                  <img
                    src="{% static 'neighborhood/images/neighborhood.jpg' %}"
                    alt="post title"
                  />
                </div>
                <div class="excerpt">
                  <a href=""
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptate officiis tempora quae velit culpa aspernatur earum
                    quidem? Laborum, fugiat aliquam?</a
                  >
                </div>
              </div>

              <!-- test post -->
              <div class="post">
                <div class="image">
                  <img
                    src="{% static 'neighborhood/images/neighborhood.jpg' %}"
                    alt="post title"
                  />
                </div>
                <div class="excerpt">
                  <a href=""
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptate officiis tempora quae velit culpa aspernatur earum
                    quidem? Laborum, fugiat aliquam?</a
                  >
                </div>
              </div>

              <!-- test post -->
              <div class="post">
                <div class="image">
                  <img
                    src="{% static 'neighborhood/images/neighborhood.jpg' %}"
                    alt="post title"
                  />
                </div>
                <div class="excerpt">
                  <a href=""
                    >Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptate officiis tempora quae velit culpa aspernatur earum
                    quidem? Laborum, fugiat aliquam?</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="{% static 'neighborhood/js/index.js' %}"></script>
  </body>
</html>
