{% extends 'users/signup.html' %}

<!--  -->

{% block title %}
<title>Sign In</title>
{% endblock %}

<!--  -->
{% block message %}
<!--  -->
{% if messages %}
<!--  -->
{% for message in messages %}
<div id="system-messages">
  <p class="close-messages">&times</p>
  <div class="message">
    <p>{{message}}</p>
  </div>
</div>
{% endfor %}
<!--  -->
{% endif %}
<!--  -->
{% endblock %}

<!--  -->
{% block form_heading %}
<h3>Sign In</h3>
{% endblock %}

<!--  -->

{% block option %}
<input type="submit" value="Sign In" />
<p>Don't have an account yet? <a href="{% url 'users-signup' %}">Sign Up</a></p>
{% endblock %}
