@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.03vw;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.03vw;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

body {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/neighborhood.jpg");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/neighborhood.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  height: 100%;
}

main #system-messages {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10%;
  -webkit-animation: appear 0.5s;
          animation: appear 0.5s;
}

main #system-messages .close-messages {
  position: absolute;
  width: 3vw;
  height: 3vw;
  color: #fff;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5vw;
  background-color: #00c58d;
  top: 39%;
  right: 28%;
  cursor: pointer;
}

main #system-messages .message {
  border: 0.1vw solid #00c58d;
  border-radius: 0.5vw;
  width: 50%;
  background-color: #000;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main #system-messages .message p {
  color: #fff;
  font-size: 1vw;
}

main header {
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4% 3% 3% 3%;
}

main header .left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main header .left .logo {
  width: 25%;
  margin-right: 10%;
}

main header .left .logo a {
  text-decoration: none;
}

main header .left .logo a h1 {
  color: #fff;
  font-size: 2.5vw;
}

main header .left .logo a h1 span {
  color: #00c58d;
}

main header .left .links {
  width: 20%;
}

main header .left .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
}

main header .left .links ul li {
  margin: 0 10%;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  font-size: 1vw;
  font-weight: 500;
  cursor: pointer;
}

main header .left .links ul li:hover {
  color: #00c58d;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

main header .left .search {
  width: 55%;
  margin-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main header .left .search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main header .left .search form input {
  padding: 2% 4%;
  outline: none;
  border-radius: 0.3vw 0 0 0.3vw;
  border: 0.1vw solid #00c58d;
  border-width: 0.1vw 0 0.1vw 0.1vw;
  background-color: transparent;
  font-size: 0.8vw;
  color: #fff;
}

main header .left .search form input::-webkit-input-placeholder {
  color: #9c9c9c;
}

main header .left .search form input:-ms-input-placeholder {
  color: #9c9c9c;
}

main header .left .search form input::-ms-input-placeholder {
  color: #9c9c9c;
}

main header .left .search form input::placeholder {
  color: #9c9c9c;
}

main header .left .search form input[type="submit"] {
  border-width: 0.1vw;
  border-radius: 0 0.3vw 0.3vw 0;
  cursor: pointer;
}

main header .left .search form input[type="submit"]:hover {
  color: #fff;
  background-color: #00c58d;
}

main header .right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main header .right .image {
  width: 4vw;
  height: 4vw;
  outline: none;
  border: 0.15vw solid #00c58d;
  padding: 0.5%;
  border-radius: 50%;
  margin-left: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main header .right .image img {
  border-radius: 50%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  cursor: pointer;
}

main header .right .info {
  text-align: right;
}

main header .right .info p {
  color: #fff;
  font-size: 1vw;
  -webkit-animation: appear 0.3s;
          animation: appear 0.3s;
}

main header .right .info a {
  text-decoration: none;
  color: #00c58d;
  font-size: 0.9vw;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

main header .right .info a:hover {
  color: #fff;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

main header .right .info .hover {
  display: none;
}

main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 87.5%;
  padding: 3%;
}

main .content .left {
  width: 47%;
  height: 100%;
  border-radius: 0.5vw;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4% 5%;
}

main .content .left .hood h3 {
  color: #00c58d;
  text-transform: capitalize;
  font-size: 1.5vw;
}

main .content .left .hood p {
  color: #fff;
  margin: 4% 0;
  font-size: 1.1vw;
  margin-left: 3%;
}

main .content .left .hood p span {
  color: #00c58d;
  font-weight: 500;
}

main .content .left .hood .cta {
  margin-top: 10%;
}

main .content .left .hood .cta span {
  margin-left: 3%;
  text-decoration: none;
  color: #fff;
  background-color: #00c58d;
  border: 0.1vw solid #00c58d;
  padding: 1.5% 3%;
  margin-right: 3%;
  border-radius: 0.3vw;
  font-size: 0.8vw;
  font-weight: 500;
  cursor: pointer;
}

main .content .left .hood .cta span:hover {
  background-color: transparent;
  color: #00c58d;
}

main .content .left .hood #hood-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10%;
  -webkit-animation: appear 0.5s;
          animation: appear 0.5s;
  display: none;
}

main .content .left .hood #hood-form .close-hood {
  position: absolute;
  width: 3vw;
  height: 3vw;
  color: #fff;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5vw;
  background-color: #00c58d;
  top: 8%;
  right: 28%;
  cursor: pointer;
}

main .content .left .hood #hood-form .form {
  border: 0.1vw solid #00c58d;
  border-radius: 0.5vw;
  height: 100%;
  width: 50%;
  background-color: #000;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .content .left .hood #hood-form .form h3 {
  margin-bottom: 5%;
}

main .content .left .hood #hood-form .form form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .content .left .hood #hood-form .form form label {
  width: 100%;
  color: #00c58d;
  font-size: 1vw;
  margin-top: 10%;
}

main .content .left .hood #hood-form .form form input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 0.1vw solid #00c58d;
  color: #fff;
  margin-top: 3%;
  padding: 2%;
  font-size: 0.9vw;
}

main .content .left .hood #hood-form .form form input[type="submit"] {
  width: 50%;
  background-color: #00c58d;
  outline: none;
  border: 0.1vw solid #00c58d;
  border-radius: 0.3vw;
  margin: 0 auto;
  margin-top: 15%;
  cursor: pointer;
  font-weight: 500;
}

main .content .left .hood #hood-form .form form input[type="submit"]:hover {
  background-color: transparent;
  color: #00c58d;
}

main .content .left .businesses {
  margin-top: 12%;
  width: 100%;
  height: 35%;
}

main .content .left .businesses h3 {
  color: #00c58d;
  text-transform: capitalize;
  font-size: 1.5vw;
  margin-bottom: 5%;
}

main .content .left .businesses .all-businesses {
  height: 100%;
  overflow: auto;
}

main .content .left .businesses .all-businesses::-webkit-scrollbar {
  display: none;
}

main .content .left .businesses .all-businesses span {
  text-align: center;
  display: inline-block;
  width: 28%;
  text-decoration: none;
  color: #fff;
  background-color: #00c58d;
  border: 0.1vw solid #00c58d;
  padding: 1.5% 3%;
  margin: 2%;
  border-radius: 0.3vw;
  font-size: 0.8vw;
  font-weight: 500;
  cursor: pointer;
}

main .content .left .businesses .all-businesses span:hover {
  background-color: transparent;
  color: #00c58d;
}

main .content .left .businesses .all-businesses .add-business {
  text-align: center;
  display: inline-block;
  width: 28%;
  text-decoration: none;
  color: #00c58d;
  background-color: transparent;
  border: 0.1vw solid #00c58d;
  padding: 1.5% 3%;
  margin: 2%;
  border-radius: 0.3vw;
  font-size: 0.8vw;
  font-weight: 500;
  cursor: pointer;
}

main .content .left .businesses .all-businesses .add-business:hover {
  background-color: #00c58d;
  color: #fff;
}

main .content .left .businesses #business-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10%;
  -webkit-animation: appear 0.5s;
          animation: appear 0.5s;
  display: none;
}

main .content .left .businesses #business-form .close-business {
  position: absolute;
  width: 3vw;
  height: 3vw;
  color: #fff;
  border-radius: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5vw;
  background-color: #00c58d;
  top: 15%;
  right: 28%;
  cursor: pointer;
}

main .content .left .businesses #business-form .form {
  border: 0.1vw solid #00c58d;
  border-radius: 0.5vw;
  height: 100%;
  width: 50%;
  background-color: #000;
  padding: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .content .left .businesses #business-form .form h3 {
  margin-bottom: 5%;
}

main .content .left .businesses #business-form .form form {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .content .left .businesses #business-form .form form label {
  width: 100%;
  color: #00c58d;
  font-size: 1vw;
  margin-top: 10%;
}

main .content .left .businesses #business-form .form form input {
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 0.1vw solid #00c58d;
  color: #fff;
  margin-top: 3%;
  padding: 2%;
  font-size: 0.9vw;
}

main .content .left .businesses #business-form .form form input[type="submit"] {
  width: 50%;
  background-color: #00c58d;
  outline: none;
  border: 0.1vw solid #00c58d;
  border-radius: 0.3vw;
  margin: 0 auto;
  margin-top: 15%;
  cursor: pointer;
  font-weight: 500;
}

main .content .left .businesses #business-form .form form input[type="submit"]:hover {
  background-color: transparent;
  color: #00c58d;
}

main .content .right {
  width: 47%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5vw;
  padding: 4% 5%;
}

main .content .right .posts {
  width: 100%;
  height: 100%;
}

main .content .right .posts h3 {
  color: #00c58d;
  text-transform: capitalize;
  font-size: 1.5vw;
  padding-bottom: 3%;
}

main .content .right .posts .all-posts {
  overflow: auto;
  height: 90%;
  width: 100%;
}

main .content .right .posts .all-posts::-webkit-scrollbar {
  display: none;
}

main .content .right .posts .all-posts .post {
  width: 100%;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .content .right .posts .all-posts .post .image {
  width: 30%;
  margin-right: 5%;
  border-radius: 0.5vw;
}

main .content .right .posts .all-posts .post .image img {
  width: 100%;
  border-radius: 0.5vw;
}

main .content .right .posts .all-posts .post .excerpt {
  width: 65%;
}

main .content .right .posts .all-posts .post .excerpt a {
  text-decoration: none;
  color: #fff;
  font-size: 0.9vw;
}

main .content .right .posts .all-posts .post .excerpt a:hover {
  color: #00c58d;
}
/*# sourceMappingURL=index.css.map */